$color: #00cc99;

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}

.content {
  width: auto; height: 80px;
  background-color: rgb(155, 76, 76);
  background-image: url(https://raw.githubusercontent.com/DockorSherowLinZ/huhui_Banner/master/app/assets/images/banner_bg_20220116.jpg);
}